################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Files
/packages
/PrinterWindowsService/bin
/PrinterWindowsService/obj
*.suo
*.user
